<HTML><BODY>
<H1> test_var2 </H1>
<% if defined? params[:VAR4] %> <%= (defined? params[:VAR4]) ? params[:VAR4] : "test failed" %> 
<% else %> <%= (defined? params[:VAR4]) ? params[:VAR4] : "test passed" %> 
<% end %> 
<H1> END test_var2 </H1>
</body></html>
