<HTML><BODY>
<H1> test_expr14 (built-in functions) </H1>
int(5.1)=<tmpl_var EXPR="int(5.1)">
abs(-2)=<tmpl_var EXPR="abs(-2)">
abs(-2.0)=<tmpl_var EXPR="abs(-2.0)">
defined(0)=<tmpl_var EXPR="defined(0)">
length(1)=<tmpl_var EXPR="length(1)">
length('abc')=<tmpl_var EXPR="length('abc')">
length('ab\'c')=<tmpl_var EXPR="length('ab\'c')">
</body></html>
